---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import AboutMe from "../components/AboutMe.astro";
import WorkWithMe from "../components/WorkWithMe.astro";
import MyTime from "../components/MyTime.astro";
import Now from "../components/Now.astro";
import Project from "../components/Project.astro";
---

<style is:global type="text/css">
  :root {
    --un-default-border-color: #5c636e35; // Set your default border color here
  }
  html {
    font-size: 100%;
  }
  body {
    --text-size-80: 0.878rem;
    --text-size-90: 0.937rem;
    --text-size-100: 1rem;
    --text-size-200: 1.067rem;
    --text-size-300: 1.138rem;
    --text-size-400: 1.215rem;
    --text-size-500: 1.296rem;
    --text-size-600: 1.383rem;
    --text-size-700: 1.476rem;
    font-family: "satoshi", "Inter", "Lekton", monospace;
    font-weight: 400;
    /* line-height: 1.6; */
    color: #393e46;
    background: #f7f7f7;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.15;
    /* letter-spacing: -0.022em; */
    color: #5c636e;
  }
  p {
    /* margin-top: 0.5rem; */
    margin-bottom: 0.5rem;
  }
  small {
    font-size: var(--text-size-90);
  }
  h6,
  .h6 {
    font-size: var(--text-size-200);
  }
  h5,
  .h5 {
    font-size: var(--text-size-300);
  }
  h4,
  .h4 {
    font-size: var(--text-size-400);
  }
  h3,
  .h3 {
    font-size: var(--text-size-500);
  }
  h2,
  .h2 {
    font-size: var(--text-size-600);
  }
  h1,
  .h1 {
    font-size: var(--text-size-700);
  }
  .text-size-80 {
    font-size: var(--text-size-80);
  }
  .text-size-90 {
    font-size: var(--text-size-90);
  }
  .text-size-100 {
    font-size: var(--text-size-100);
  }
  .text-size-200 {
    font-size: var(--text-size-200);
  }
  .text-size-300 {
    font-size: var(--text-size-300);
  }
  .text-size-400 {
    font-size: var(--text-size-400);
  }
  .text-size-500 {
    font-size: var(--text-size-500);
  }
  .text-size-600 {
    font-size: var(--text-size-600);
  }
  .text-size-700 {
    font-size: var(--text-size-700);
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://kit.fontawesome.com/8e006771c3.js"
      crossorigin="anonymous"></script>
    <title>Joe Goodwin</title>
  </head>

  <body class="flex items-center justify-center">
    <Layout>
      <div class="rounded-md border-2 p-4" style="grid-area: welcome;">
        <Welcome />
      </div>
      <div class="rounded-md border-2 p-4" style="grid-area: about;">
        <AboutMe />
      </div>
      <div class="rounded-md border-2 p-4" style="grid-area: workwithme;">
        <WorkWithMe />
      </div>
      <div class="rounded-md border-2 p-4" style="grid-area: time;">
        <MyTime />
      </div>
      <div class="rounded-md border-2 p-4" style="grid-area: now;">
        <Now />
      </div>
      <div class="rounded-md border-2 p-4" style="grid-area: projects;">
        <Project />
      </div>
    </Layout>
  </body>
</html>
