---
import BentoBoxLayout from "../layouts/BentoBoxLayout.astro";
---

<BentoBoxLayout>
  <h2>About Me</h2>
  <p class="mt-4">Hi, I'm Joe, a web-developer from Florida.</p>
  <p>
    My primary tools of choice includes:
    <ul>
      <li>JavaScript</li>
      <li>React</li>
      <li>Astro</li>
    </ul>
  </p>
</BentoBoxLayout>
