---
import BentoBoxLayout from "../layouts/BentoBoxLayout.astro";
---

<BentoBoxLayout>
  <h2>About Me</h2>
  <p class="mt-4">
    I'm a web-developer from Florida <i class="fa-light fa-tree-palm"></i>
  </p>
  <p>A father of three kids, a husband, and a lifelong learner.</p>
  <p>
    Neurodivergent
    <i class="fa-solid fa-infinity"></i>
    <i class="fa-light fa-brain-circuit"></i>
  </p>
  <p class="mt-2">Things I like:</p>
  <ul class="flex flex-wrap gap-4">
    <li>
      <i class="fa-light fa-mug-saucer"></i>
      Coffee/Tea
    </li>
    <li>
      <i class="fa-light fa-person-walking"></i>
      Walks in nature
    </li>
    <li>
      <i class="fa-light fa-person-rays"></i>
      Philosophy
    </li>
    <li>
      <i class="fa-light fa-chair"></i>
      Porch Sitting
    </li>
  </ul>
</BentoBoxLayout>
