---
import { Image } from "astro:assets";
import BentoBoxLayout from "../layouts/BentoBoxLayout.astro";
import profilePhoto from "../images/profile_photo.jpeg";
---

<BentoBoxLayout>
  <div class="flex">
    <div>
      <h1>Welcome</h1>
      <p>Hi, I'm Joe Goodwin, a web developer.</p>
      <p>
        Feel free to reach out to me if you have any projects in mind, or just
        to say hello.
      </p>
    </div>
    <div class="flex-none">
      <Image
        src={profilePhoto}
        alt="Joe's Profile Photo"
        class="size-40 rounded-full object-cover object-center object-right-top"
      />
    </div>
  </div>
</BentoBoxLayout>
