---
import { Image } from "astro:assets";
import BentoBoxLayout from "../layouts/BentoBoxLayout.astro";
import profilePhoto from "../images/profile_photo.jpeg";
---

<BentoBoxLayout>
  <div class="grid grid-cols-3 place-items-center">
    <div class="col-span-2">
      <h1 class="text-3xl">
        Welcome
        <i class="fa-light fa-hand-wave"></i>
      </h1>
      <p class="mt-4">Hi, I'm Joe Goodwin, a web developer.</p>
      <p>
        Feel free to reach out to me if you have any projects in mind, or just
        to say hello.
      </p>
    </div>
    <div>
      <Image
        src={profilePhoto}
        alt="Joe's Profile Photo"
        class="m-auto size-3/4 rounded-full object-cover"
      />
    </div>
    <div class="col-span-2">
      <p class="my-4">My primary tools as of late:</p>
      <ul class="flex flex-wrap gap-4 text-lg">
        <li><i class="fa-brands fa-html5"></i> HTML</li>
        <li><i class="fa-brands fa-css3-alt"></i> CSS</li>
        <li><i class="fa-brands fa-js"></i> JavaScript</li>
        <li><i class="fa-brands fa-react"></i> React</li>
        <li><i class="fa-kit fa-astro-icon-dark"></i> Astro</li>
      </ul>
    </div>
  </div>
</BentoBoxLayout>
