---
import BentoBoxLayout from "../layouts/BentoBoxLayout.astro";
---

<BentoBoxLayout>
  <h1>Welcome</h1>
  <p>Hi, I'm Joe Goodwin, a web developer.</p>
  <p>
    Feel free to reach out to me if you have any projects in mind, or just to
    say hello.
  </p>
</BentoBoxLayout>
