---
import BentoBoxLayout from "../layouts/BentoBoxLayout.astro";
---

<BentoBoxLayout>
  <h2>Let's start working together!</h2>
  <h3 class="text-lg">Contact Details</h3>
  <p class="ml-4">joegoodwin@fastmail.com</p>

  <h3 class="text-lg">Socials</h3>
  <ul>
    <li>Linkedin</li>
    <li>Github</li>
    <li>Medium</li>
    <li>Discord</li>
  </ul>
</BentoBoxLayout>
