---

---

<div class="border-2 rounded-md p-5 h-full">
    <h3>Let's start working together!</h3>
    <h4>Contact Details</h4>
    <span>joegoodwin@fastmail.com</span>

    <h4>Socials</h4>
    <ul class="list-disc list-inside">
        <li>Linkedin</li>
        <li>Github</li>
        <li>Medium</li>
        <li>Discord</li>
    </ul>
</div>
