---

---

<div class="h-full rounded-md border-2 p-5">
  <h3>Let's start working together!</h3>
  <h4>Contact Details</h4>
  <span>joegoodwin@fastmail.com</span>

  <h4>Socials</h4>
  <ul class="list-inside list-disc">
    <li>Linkedin</li>
    <li>Github</li>
    <li>Medium</li>
    <li>Discord</li>
  </ul>
</div>
